@use '../colors' as colors;

/* Button Styles */
button {
  color: #fff;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }
}

.checkout,
.add-cart-button {
  background-color: colors.$green;
  border-color: colors.$green;

  &:hover {
    background-color: colors.$green-hover;
    border-color: colors.$green-border;
  }

  &.disabled {
    background-color: colors.$disabled;
    border-color: colors.$disabled;

    &:hover {
      cursor: not-allowed;
      background-color: colors.$disabled-hover;
      border-color: colors.$disabled-border;
    }
  }
}

.cancel,
.continue-shopping {
  background-color: colors.$blue;
  border-color: colors.$blue;

  &:hover {
    background-color: colors.$blue-hover;
    border-color: colors.$blue-border;
  }
}

.delete-item,
.clear-cart {
  background-color: colors.$red;
  border-color: colors.$red-border;

  &:hover {
    background-color: colors.$red-hover;
    border-color: colors.$red-hover-border;
  }
}
