/* Instant Search */
.instant-search-container {
	position: relative;
	width: 75%;
	max-width: 600px;
	
	&.populated {
		margin-bottom: 120px;

		.instant-list {
			position: absolute;
			left: 0;
			right: 0;

			li.hit-container:nth-child(even) {
				transform: perspective(100px) rotateX(3deg) translateY(-4px) scale(1.001);
			}
			
			li.hit-container:nth-child(odd) {
				transform: perspective(100px) rotateX(-3deg) translateY(4px);
			}
		}
	}
	
	.instant-search {
		position: relative;
		background-color: $blue-accent;
		color: #FFF;
		outline: 0;
		width: 100%;
		max-width: 400px;
		left: 50%;
		transform: translateX(-50%);
		border: 3px solid $red;
		border-radius: 9px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
		font-size: 36px;
		text-align: left;
		text-transform: uppercase;
		padding: 6px 15px;	
		
		&::placeholder {
			color: #FFF;
			font-size: 24px;
		}
	}

	.instant-list {
		margin: 0;
		padding: 0;
		position: relative;
		
		li {
			background: $cart-header;
			color: #FFF;
			list-style: none;
			border-bottom: 3px solid $red-hover;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
			margin: 0;
			padding: 0 15px;
			transition: background 0.2s;
			display: flex;
			font-weight: bold;
			font-size: 24px;
			text-transform: capitalize;
			
			&:nth-child(even) {
				transform: perspective(100px) rotateX(3deg) translateY(1px) scale(1.001);
				background: linear-gradient(to bottom, $cart-header 0%, $blue-accent 100%);
			}

			&:nth-child(odd) {
				transform: perspective(100px) rotateX(-3deg) translateY(1px);
				background: linear-gradient(to top, $cart-header 0%, $blue-accent 100%);
			}

			a {
				width: 100%;
				padding: 15px 0;

				.hit-content {
					display: flex;
					align-items: center;
					justify-content: space-evenly;
					
					.hit-image {
						max-width: 75px;
						margin-right: 25px;
					}
					
					.name-manufacturer {
						display: flex;
						flex-direction: column;
						
						h2,
						h3,
						p {
							margin: 6px 0;
							padding: 0 3px;
						}
						
						h2 {
							font-size: 24px;
						}
						
						h3 {
							font-size: 18px;
						}
					}
					
					.add-cart-button {
						background-color: $green;
						border-color: $green;
						color: #FFF;
						padding: 9px 15px;
						border-radius: 9px;
						
						&:hover {
							background-color: $green-hover;
							border-color: $green-border;
						}

						&.disabled {
							background-color: $disabled;
							border-color: $disabled;
							
							&:hover {
								cursor: not-allowed;
								background-color: $disabled-hover;
								border-color: $disabled-border;
							}
						}
					}
				}
			}
		}
	}
}