#modal {
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	
	&:empty {
		display: none;
	}
	
	& > div {
		background-color: white;
		min-width: 90%;
		min-height: 75%;
		padding: 15px;
		text-align: center;
		background: #FFFFFF;
	}
	
	.modal-header {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 20px 40px;
		
		.close-modal {
			width: 40px;
			height: 40px;
			background: #FFFFFF;
			border: 0;
			outline: 0;
			border: 2px solid #CBD5E0;
			border-radius: 50%;
			
			&:hover {
				border-color: #C92C2C;
				
				.fa-times {
					color: #C92C2C;
				}
			}
			
			.fa-times {
				width: 24px;
				height: 24px;
				font-size: 24px;
				color: #171923;
				
				.fa-times:hover {
					color: #C92C2C;
				}
			}
		}
	}

	.add-cart-button {
		background-color: #28A745;
		color: #FFF;
		border-color: #28A745;
		padding: 15px;
		font-size: 18px;
		font-weight: bold;
		
		&:hover {
			background-color: #218838;
			border-color: #1E7E34;
			cursor: pointer;
		}

		&.disabled {
			background-color: #6C757D;
			border-color: #6C757D;
			
			&:hover {
				cursor: not-allowed;
				background-color: #5A6268;
				border-color: #545B62;
			}
		}
	}
}




