@use '../colors' as colors;
@use '../mixins' as mixins;

/* Nav Styles */
.nav-container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 3px colors.$blue-accent;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include mixins.mq-max(550px) {
    flex-direction: column;
  }

  svg {
    margin: 0 0 0 1.2em;
    width: 100%;
    max-width: 300px;

    @include mixins.mq-max(700px) {
      margin: 0 0 0 0.6em;
      max-width: 200px;
    }

    @include mixins.mq-max(550px) {
      align-self: center;
      margin: 0.6em 0 0 0;
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include mixins.mq-max(550px) {
      flex-direction: column;
    }
  }

  nav {
    margin: 9px 0 0 1.2em;
    padding: 15px 0.6em 15px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include mixins.mq-max(700px) {
      align-self: flex-end;
      position: sticky;
      margin: 0;
      padding: 0.6em 0.6em 0.6em 0;
    }

    a {
      margin-left: 15px;
      color: colors.$red;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;

      @include mixins.mq-max(700px) {
        font-size: 15px;
        margin-left: 9px;
      }

      @include mixins.mq-max(550px) {
        font-size: 18px;
        margin-left: 15px;
      }

      @include mixins.mq-max(400px) {
        font-size: 15px;
        margin-left: 9px;
      }

      &:last-of-type {
        margin-right: 15px;
      }

      &:hover {
        color: colors.$red-hover;
      }
    }

    .cart-nav-item {
      position: relative;

      &::before {
        font-family: 'Font Awesome 5 Pro';
        font-size: 60px;
        font-weight: 900;
        content: '\f07a';

        @include mixins.mq-max(700px) {
          font-size: 40px;
        }

        @include mixins.mq-max(550px) {
          font-size: 36px;
        }
      }

      .cart-count {
        position: absolute;
        left: 30px;
        top: 15px;
        background-color: #fff;
        color: colors.$red;
        font-size: 21px;
        padding: 3px 9px;
        border: 1px solid colors.$red;
        border-radius: 50%;
        transform: scale(1) translate(50%, -50%);
        transform-origin: 100% 0%;

        @include mixins.mq-max(700px) {
          font-size: 18px;
          left: 9px;
          top: 9px;
        }

        &.xl {
          left: 24px;
          padding: 9px;

          @include mixins.mq-max(700px) {
            padding: 6px;
            left: 9px;
          }

          @include mixins.mq-max(550px) {
            font-size: 15px;
          }
        }

        &.huge {
          left: 0;
          padding: 12px;
          font-size: 18px;

          @include mixins.mq-max(700px) {
            padding: 6px;
            left: 0;
            font-size: 15px;
          }

          @include mixins.mq-max(550px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
