/* Products */
.products-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
	padding: 0 30px;

	.product-search-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-basis: 100%;
	}
	
	.product {
		flex-basis: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 15px;
		
		@include mq-max(800px) {
			flex-basis: 100%;
			margin-bottom: 15px;
		}
		
		img {
			max-width: 250px;
		}

		h2,
		h3,
		p {
			margin: 9px 0;
		}

		.product-actions {
			text-align: center;
			
			button {
				padding: 15px;
				font-size: 18px;
				font-weight: bold;
				color: white;
				outline: 0;
				border: 1px solid transparent;
				
				&:hover {
					cursor: pointer;
				}
			}
			
			.more-info-button {
				background-color: #007BFF;
				border-color: #007BFF;
				
				&:hover {
					background-color: #0069D9;
					border-color: #0062CC;
				}
			}
			
			.add-cart-button {
				background-color: #28A745;
				border-color: #28A745;
				
				&:hover {
					background-color: #218838;
					border-color: #1E7E34;
				}

				&.disabled {
					background-color: #6C757D;
					border-color: #6C757D;
					
					&:hover {
						cursor: not-allowed;
						background-color: #5A6268;
						border-color: #545B62;
					}
				}
			}
		}

		// TODO Implement add w/ Quantity
		.add-to-cart-form {
			display: flex;
			flex-direction: column;
			
			.quantity-input {
				margin-bottom: 9px;
			}
		}
		
	}
}