.reasons-why-container {
	padding: 1.5em 0 0;

	h2,
	h3 {
		margin: 9px 0;
		text-align: center;
	}

	h2 {
		font-size: 2em;

		@include mq-max(900px) {
			margin-bottom: 0.6em
		}
	}

	h3 {
		font-size: 1.5em;
	}

	.reasons-container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 1.5em;

		@include mq-max(900px) {
			flex-direction: column;
		}

		.reason {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-basis: 25%;

			@include mq-max(900px) {
				width: 100%;
				flex-basis: 100%;
				margin-bottom: 0.6em
			}

			i {
				font-size: 3em;
				padding: 1.25rem;
				background-color: $blue-accent;
				color: #FFF;
				border-radius: 1.25rem;
				border: 3px solid $red;

				&:hover {
					background-color: $blue-accent-hover;
				}

				@include mq-max(900px) {
					font-size: 4.5em;
				}
			}

			p {
				margin: 9px 0;

				@include mq-max(900px) {
					max-width: 300px;
					margin: 9px auto;
				}
			}
		}
	}
}