@use '../colors' as colors;
@use '../mixins' as mixins;

.reasons-why-container {
  padding: 0.75em 0 0;

  h2,
  h3 {
    margin: 9px 0;
    text-align: center;
  }

  h2 {
    font-size: 1.5em;

    @include mixins.mq-max(900px) {
      margin-bottom: 0.6em;
    }
  }

  h3 {
    font-size: 1.5em;
  }

  .reasons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.75em;

    @include mixins.mq-max(900px) {
      flex-wrap: wrap;
    }

    @include mixins.mq-max(700px) {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .reason {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-basis: 20%;

      @include mixins.mq-max(900px) {
        width: 50%;
        flex-basis: 50%;
        margin-bottom: 0.6em;
      }

      @include mixins.mq-max(700px) {
        width: 100%;
        flex-basis: 100%;
      }

      i {
        font-size: 3em;
        padding: 1.5rem;
        background-color: colors.$blue-accent;
        color: #fff;
        border-radius: 1.5rem;
        border: 3px solid colors.$red-border;

        &:hover {
          background-color: colors.$blue-accent-hover;
          border-color: colors.$red-hover-border;
        }

        @include mixins.mq-max(900px) {
          font-size: 4.5em;
        }
      }

      p {
        margin: 9px 0;

        @include mixins.mq-max(900px) {
          max-width: 300px;
          margin: 9px auto;
        }
      }
    }
  }
}
