.social-icons-container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	i {
		font-size: 3em;
		
		&:hover {
			cursor: pointer;
		}
	}

	.facebook {
		&:hover {
			color: #4267B2;
		}
	}

	.instagram {
		&:hover {
			background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
			background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
			background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
			background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.linkedin {
		&:hover {
			color: #0073B1
		}
	}

	.twitch {
		&:hover {
			color: #A970FF;
		}
	}
	
	.twitter {
		&:hover {
			color: #1DA1F2;
		}
	}
	
	.youtube {
		&:hover {
			color: #FF0000;
		}
	}
}