.social-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    font-size: 3em;

    &:hover {
      cursor: pointer;
    }

    margin-right: 0.25rem;

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  .facebook {
    &:hover {
      color: #4267b2;
    }
  }

  .instagram {
    &:hover {
      background: -webkit-radial-gradient(
        30% 107%,
        circle,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      background: -o-radial-gradient(
        30% 107%,
        circle,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      background: -webkit-radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .linkedin {
    &:hover {
      color: #0073b1;
    }
  }

  .twitch {
    &:hover {
      color: #a970ff;
    }
  }

  .twitter {
    &:hover {
      color: #1da1f2;
    }
  }

  .youtube {
    &:hover {
      color: #ff0000;
    }
  }
}
