/* Accent Colors */
$blue-accent: #1173A8;
$blue-accent-hover: #0D5982;

/* Generic Button Colors */ 
$green: #28A745;
$green-hover: #218838;
$green-border: #1E7E34;
$blue: #007BFF;
$blue-hover: #0069D9;
$blue-border: #0062CC;
$red: #D54140;
$red-hover: #C92C2C;
$red-border: #D33636;
$red-hover-border: #B82828;
$disabled: #6C757D;
$disabled-hover: #5A6268;
$disabled-border: #5A6268;

/* Cart */
$cart-header: #148CCC;