/* Accent Colors */
$blue-accent: #1173a8;
$blue-accent-hover: #0d5982;

/* Generic Button Colors */
$green: #28a745;
$green-hover: #218838;
$green-border: #1e7e34;
$blue: #007bff;
$blue-hover: #0069d9;
$blue-border: #0062cc;
$red: #d54140;
$red-border: #d33636;
$red-heart: #f50057;
$red-heart-hover: #cc0047;
$red-hover: #c92c2c;
$red-hover-border: #b82828;
$disabled: #6c757d;
$disabled-hover: #5a6268;
$disabled-border: #5a6268;

/* Cart */
$cart-header: #148ccc;
