@use '../colors' as colors;

/* 404 Styles */
.not-found-body {
  text-align: center;

  p {
    margin: 9px 0;
  }

  ul {
    list-style-type: none;

    li {
      margin: 3px 0;
    }
  }

  a {
    color: colors.$blue;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: colors.$blue-hover;
    }
  }
}
