/* Cart Styles */
.cart-container {
	.cart-and-info {
		display: flex;
		
		@include mq-max(1000px) {
			flex-direction: column;
		}

		.cart {
			flex-basis: 70%;

			@include mq-max(1000px) {
				flex-basis: 100%;
			}

			.cart-header {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #148CCC;
				text-align: left;
				flex-basis: 100%;
				max-height: 48px;
				
				span {
					color: white;
					text-transform: uppercase;
					font-weight: bold;
					text-align: center;
					padding: 15px 0;
					
					&.product-header { flex-basis: 40%; }
					&.quantity { flex-basis: 15%; }
					&.remove { flex-basis: 20%; }
					&.price,
					&.subtotal { flex-basis: 20%; }
				}
			}

			.cart-item {
				display: flex;
				justify-content: space-around;
				border-bottom: 3px solid #1173A8;
				padding: 30px 0;
				
				.cart-product-info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					flex-basis: 45%;
					
					img {
						max-width: 150px;
					}
				}
				
				.product-quantity {
					flex-basis: 15%;
					align-self: center;
					
					#cart-quantity {
						max-height: 50px;
						max-width: 50px;
					}
				}
				
				.delete-item {
					align-self: center;
					max-height: 50px;
					max-width: 50px;
					background-color: transparent;
					outline: 0;
					border: 0;
					flex-basis: 20%;
					
					i {
						font-size: 36px;
						color: #D54140;
					}
					
					&:hover i {
						color: #C92C2C;
					}
				}
				
				.product-price,
				.product-subtotal {
					align-self: center;
					flex-basis: 10%;
				}

				&:last-of-type {
					border-bottom: none;
				}
			}
		}
	
		.cart-info {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			flex-basis: 30%;

			@include mq-max(1000px) {
				flex-basis: 100%;
				justify-content: flex-end;
				margin-bottom: 1.5em;
			}

			.cart-header {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #148CCC;
				text-align: left;
				flex-basis: 100%;
				max-height: 48px;
				
				span {
					color: white;
					text-transform: uppercase;
					font-weight: bold;
					text-align: center;
					padding: 15px 0;
				}
			}
	
			.total-quantity,
			.subtotal-price,
			.tax,
			.total-price {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid rgba(224, 224, 224, 1);
				margin-right: 1.2em;

				@include mq-max(1000px) {
					padding-left: 1.5em;
				}
			}

			.cart-actions {
				display: flex;
				justify-content: flex-end;
				margin-top: 1.5em;
				
				button {
					padding: 15px;
					font-size: 18px;
					font-weight: bold;
					color: white;
					outline: 0;
					text-transform: uppercase;
					border: 1px solid transparent;
				}
				
				.clear-cart {
					background-color: #D54140;
					border-color: #D33636;
		
					&:hover {
						background-color: #C92C2C;
						border-color: #B82828;
					}
				}
		
				.checkout {
					background-color: #28A745;
					border-color: #28A745;
		
					&:hover {
						background-color: #218838;
						border-color: #1E7E34;
					}
				}
			}
		}
	}

	.empty-cart {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		a {
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			padding-bottom: 9px;
			color: #007BFF;
			
			&:hover {
				color: #0069D9;
			}
		}
	}
}