.favorites-container {
	h1 {
		flex-basis: 100%;
		text-align: center;
		margin: 9px 0;
	}

	.no-favorites {
		text-align: center;
		font-size: 1.25rem;
	
		p {
			text-align: left;
			margin: 9px 0;
		}
		
		ul {
			list-style-type: none;
			
			li {
				margin: 3px 0;
			}
		}

		a {
			color: $blue;
			text-decoration: none;
			font-weight: bold;

			&:hover {
				color: $blue-hover;
			}
		}
	}
}