.home-container {
	.all-products-link {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $blue-accent;
		text-decoration: none;
		font-size: 1.5em;
		font-weight: bold;
		margin-top: .6em;

		&:hover {
			color: $blue-accent-hover;
		}
	}
}