@use '../colors' as colors;
@use '../mixins' as mixins;

/* Sub Product Pages */
.product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;

  .product-breadcrumbs {
    margin-bottom: 1rem;

    .fa-chevron-right {
      font-size: 18px;
      color: colors.$blue-accent;
      margin: 0 0.25rem;
    }

    a {
      color: colors.$blue-accent;
      text-decoration: none;
      font-weight: bold;
      font-size: 24px;

      .fa-chevron-left {
        margin-right: 6px;
      }

      &:hover {
        color: colors.$blue-accent-hover;
      }
    }
  }

  .product-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1.2em 1.5em;
    margin-top: 1.2em;
    box-shadow:
      0px 3px 5px -1px rgba(0, 0, 0, 0.3),
      0px 6px 10px 0px rgba(0, 0, 0, 0.3),
      0px 1px 18px 0px rgba(0, 0, 0, 0.3);
    border-radius: 9px;

    // TODO: Properly style once additional images & lighthouse are implemented
    .product-images {
      flex: 1;
      margin-right: 2rem;

      img {
        max-width: 100%;
        margin-bottom: 1rem;
        cursor: pointer;
      }

      .additional-images {
        img {
          width: 20%;
          margin-right: 1rem;
          cursor: pointer;
        }
      }
    }

    .product-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex: 1;

      .product-brand {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .brand-logo {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .product-name {
          margin: 0;
          text-align: left;
          flex-basis: 75%;
        }
      }

      .product-reviews {
        display: flex;
        align-items: center;

        .review-stars {
          display: flex;
          margin-left: 0.5rem;
          width: 75px;
          height: 75px;

          .filled-star {
            fill: #ffd700;
          }

          .empty-star {
            fill: #ccc;
          }
        }
      }

      .product-description {
        max-width: 300px;
        margin: 0 auto;

        @include mixins.mq-min(1000px) {
          max-width: 600px;
        }
      }

      .product-price {
        font-size: 1.5rem;
        margin-top: 0.25rem;
      }

      .product-available-quantity {
        margin-top: 0.25rem;
      }

      .product-variants,
      .product-sizes {
        margin-top: 0.25rem;
      }

      .variant-button,
      .size-button {
        margin-right: 0.5rem;
        padding: 0.5rem 1rem;
        border: 1px solid #ccc;
        background: none;
        cursor: pointer;
      }

      .size-button.unavailable {
        color: #ccc;
        cursor: not-allowed;
      }

      .size-guide {
        display: inline-block;
        margin-left: 0.5rem;
        cursor: pointer;
      }

      .product-actions {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 0.5rem;

        .add-cart-button {
          outline: 0;
          border: 1px outset transparent;
          border-radius: 9px;
          box-shadow:
            0px 3px 5px -1px rgba(0, 0, 0, 0.3),
            0px 6px 10px 0px rgba(0, 0, 0, 0.3),
            0px 1px 18px 0px rgba(0, 0, 0, 0.3);

          &:hover {
            cursor: pointer;
          }

          &.add-cart-button {
            margin-left: auto;
          }
        }

        .favorite-button {
          flex-basis: 25%;
          text-align: center;
          background-color: transparent;
          outline: 0;
          border: 0;
          padding: 0;

          .fa-heart {
            font-size: 1.5em;
            color: colors.$red-heart;
          }

          &:hover {
            cursor: pointer;

            .fa-heart {
              color: colors.$red-heart-hover;
            }
          }
        }
      }

      .product-tabs {
        display: flex;
        margin-top: 2rem;
      }

      // TODO: Properly style once additional tabs are implemented
      // TODO: Toggle active tabs
      .tab {
        flex: 1;
        padding: 1rem;
        text-align: center;
        cursor: pointer;
        border: 1px solid #ccc;
        background: none;
      }

      .tab:not(:last-child) {
        border-right: none;
      }
    }

    // TODO: Implement add w/ Quantity
    // .add-to-cart-form {
    //   display: flex;
    //   flex-direction: column;

    //   .quantity-input {
    //     margin-bottom: 9px;
    //   }
    // }
  }
}
