html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Site Wrapper */
.site-container {
	max-width: 1440px;
	margin: 0 auto;
}

/* Nav Styles */
nav {
	margin: 9px auto 45px;
	padding: 15px 0;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	border-bottom: 3px solid #1173A8;
}

nav a {
	margin-left: 15px;
	color: #D54140;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}

nav a:last-of-type {
	margin-right: 15px;
}

nav a:hover {
	color: #C92C2C
}

/* Footer Styles */
.footer-container {
	margin-top: 25px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 3px solid #1173A8;
	padding: 30px 0;
}

/* Products */
.products-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
}

.product {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

@media screen and (max-width: 800px){
	.product {
		flex-basis: 100%;
		margin-bottom: 15px;
	}
}

.product h2,
.product h3,
.product p {
	margin: 9px 0;
}

.product button {
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	outline: 0;
	border: 1px solid transparent;
}

.product button:hover {
	cursor: pointer;
}

.more-info-button {
	background-color: #007BFF;
	border-color: #007BFF;
}

.more-info-button:hover {
	background-color: #0069D9;
	border-color: #0062CC;
}

.add-cart-button {
	background-color: #28A745;
	border-color: #28A745;
}

.add-cart-button:hover {
	background-color: #218838;
	border-color: #1E7E34;
}